body,
html {
  height: 100%;
}

html {
  background: #f5f5f5;
  color: #272727;
}

body {
  font-family: "system-ui";
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-weight: 400;
}

.sections {
  display: flex;
  flex-grow: 1;
}

.sections > section {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 0.5em 0;
}

h1 {
  margin: 0;
  padding: 0.5em 0;
  font-size: 1.4em;
  font-weight: 300;
}

textarea {
  min-height: 13em;
  box-sizing: border-box;
}

pre.Code.Error {
  background: #d6000026;
}

pre.Code {
  margin: 0;
  background: #2c2a30;
  padding: 0.75em 1em;
  border-radius: 0.25em;
  min-height: 11em;
  box-sizing: border-box;
  color: #8c8c8c;
  font-family: inherit;
  line-height: 1.3;
  overflow: auto;
}

.App {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  flex-grow: 1;
}

.sections > section > *:nth-child(2) {
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 1em;
  box-shadow: 0 1rem 4rem #00000014;
}

.sections > section:last-child {
  padding-right: 0;
}

textarea,
input[type="text"] {
  font-family: inherit;
  font-size: 0.9em;
  font-weight: normal;
  color: inherit;
  padding: 0.75em;
  background: white;
  border: none;
  outline-width: 1px;
  outline-color: blue;
}

.console-content input[type="text"] {
  border: none;
}

.console-content {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  position: relative;
}

.input-wrapper > .mark {
  position: absolute;
  top: 0.4em;
  left: 0.5em;
  color: #c074fa;
}

.input-wrapper > input {
  padding-left: 1.6em;
  flex-grow: 1;
}

.console-content {
  font-size: 0.9em;
  border-radius: 0 0 0.25em 0.25em;
}

.console-content .section {
  background: #2c2a30;
  color: white;
  display: flex;
  flex-direction: column;
}

.console-content .section > .title {
  margin: 0;
  padding: 0.25em 0.75em;
  background: #ffffff0d;
  color: #ffffff6e;
}

.console-content > .functions ul li::before {
  content: "\0192";
  opacity: 0.5;
  margin-right: 0.2em;
}

.console-content > .functions ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
  color: #ffffffa8;
}

.console-content .section.output .Code {
  flex-grow: 1;
  color: #e6e6e6;
}

.console-content .section.output {
  flex-grow: 1;
}

.file-input {
  display: flex;
  flex-direction: column;
}

.file-input .Code {
  flex-grow: 1;
  white-space: normal;
}

